#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p{
  margin: 5px;
}
.mind{
  color: red;
  filter: blur(0.5px);
}
.main-calculator{
  box-shadow: inset 0px 0px 10px 0px  black; 
  width: 260px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  background-color:#E3DAC9;
  border-radius: 20px;
  padding: 10px;
}
.calculator-shadow{
  border-radius: 20px;
  background-color: #1a1a1a;
  width: 290px;
  height: 340px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 5px;
  margin-top: 5px;
  
}
.calculator-screen{
  border-radius: 20px;
  font-family: "DS-digital";
  font-size: 3em;
  color: #00FF41;
  background-color: #1a1a1a;
  text-align: right;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  filter: blur(0.5px);
  filter: ;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}


.read-the-docs {
  color: #888;
}
